* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.Content .LeftSide {
  width: 20%;
}

.Content .RightSide {
  width: 80%;
}

@media screen and (max-width: 1024px) {
  .Content {
    flex-direction: column;
  }
  .Content .LeftSide {
    width: 80%;
    margin: 0 auto 20px auto;
  }

  .Content .RightSide {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .Content {
    flex-direction: column;
  }
  .Content .LeftSide {
    width: 90%;
    margin: 0 auto 20px auto;
  }

  .Content .RightSide {
    width: 100%;
  }
}
